/.idea
/db/data/*

.env
gradlew
gradlew.bat

/gradle/*
.gradle
.gradle/*
.gradle/7.4
.gradle/7.6.1
.gradle/buildOutputCleanup
.gradle/vcs-1
.gradle/file-system.probe

/admin-service/build
/admin-service/adminLog
/admin-service/adminLog*

/common/build

/coupon/build
/coupon/couponLog
/coupon/couponLog*

/delivery/build
/delivery/adminLog
/delivery/adminLog*

/demo/build
/demo/userLog
/demo/userLog*

/eureka/build
/eureka/eureka

/gateway/build
/gateway/gateway

/member-aggregation-service/build

/order/build
/order/orderLog
/order/orderLog*

/task-consumer/build
/task-consumer/task-consumeLog
/task-consumer/task-consumeLog*
/task-consumer/task-consumeLog.2023-12-15.0.gz

