/.idea
/db/data/*

/data/*

/axon-server-se/*

.env



/admin-service/build
/admin-service/adminLog
/admin-service/adminLog*

/common/build

/coupon/build
/coupon/couponLog
/coupon/couponLog*

/delivery/build
/delivery/adminLog
/delivery/adminLog*

/demo/build
/demo/userLog
/demo/userLog*

/eureka/build
/eureka/eureka
/eureka/eureka*
/eureka/gradle
/eureka/gradlew.bat
/eureka/gradlew


/gateway/build
/gateway/gateway
/gateway/gradle
/gateway/gateway
/gateway/gradlew
/gateway/gradlew.bat
/gateway/gateway.*

/member-aggregation-service/build

/order/build
/order/orderLog
/order/adminLog
/order/orderLog*

/task-consumer/build
/task-consumer/task-consumeLog
/task-consumer/task-consumeLog*
/task-consumer/task-consumeLog.2023-12-15.0.gz

/ranking/build
/ranking/rankingLog
/ranking/rankingLog*

/basket/build
/basket/basketLog
/basket/basketLog*

/notification/build
/notification/notificationLog
/notification/notificationLog*


/search-service/build
/search-service/searchLog
/search-service/searchLog*


/coupon-proxy/build
/coupon-batch/build

/transaction-batch-service/build
/transaction-batch-service/transactionLog
/transaction-batch-service/transaction.*
/gradle/


/coupon/.idea/*

/.gradle/*
/customer-view/package-lock.json

/redis/*

