/.idea
/db/data/*

/gradle/*
.gradle

/admin-service/build
/admin-service/adminLog

/common/build

/coupon/build
/coupon/couponLog

/delivery/build
/delivery/adminLog

/demo/build
/demo/userLog

/eureka/build
/eureka/eureka

/gateway/build
/gateway/gateway

/member-aggregation-service/build

/order/build
/order/orderLog

/task-consumer/build

